/*可继承,可选择其他content-box (或 padding-box)*/
html {	
    box-sizing: border-box;
	-webkit-box-sizing: border-box; /* Safari */
    -moz-box-sizing: border-box; /* Firefox */
}
*, *:before, *:after {   
    box-sizing: inherit;
	-webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
}

*{	
	background:#fff;
}

.border{
	border: 1px solid #999;
	background: #eee;
	margin: 10px;
	height: 50px;
}
.box{
	float: left;
}
@media (min-width: 768px){	
	.col-md-1{width: 8.33%;}
	.col-md-2{width: 16.66%;}
	.col-md-3{width: 25%;}
	.col-md-4{width: 33.33%;}	
	.col-md-6{width: 50%;}
}
@media (max-width: 768px){
	.col-sm-2{width: 16.66%;}	
	.col-sm-3{width: 25%;}
	.col-sm-6{width: 50%;}	
	.col-sm-8{width: 66.66%;}
	.col-sm-12{width: 100%;}
}


